<a href="https://colab.research.google.com/github/futbolero06/ejercicios_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCCIÓN REPETITIVA FOR

In [ ]:
# EJERCICIO 1: MOSTRAR LOS NÚMEROS DEL 1 AL 10, SIN USAR INSTRICCIONES REPETITIVAS

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:

# EJERCICIO 2: mostrar los números del 1 al 10, usando la instrucción WHILE
contador = 1 
print(contador)
while contador < 10:
  #contador = contador +1
  contador += 1 
  print(contador)

In [ ]:
# EJERCICIO 3: Mostrar los numeros del 1 al 10 utilizando for y una lista como iterable

lista=[1,2,3,4,5,6,7,8,9,10]

for i in lista:
  print(i)

In [ ]:
# EJERCICIO 4: mostrar los números del 1 al 10 usando la instrucción for y la función range

for i in range (1,11):
  print (i)

In [ ]:
# EJERCICIO 5 : mostrar una frase 10 veces usando la instrucción for y una lista

lista=[1,2,3,4,5,6,7,8,9,10]

for i in lista:
  print(f"{i} sistemas, la mejor")

In [ ]:
# EJERCICIO 6: mostar las sílaba inicial de los días de la semana usando for y una lista con la sílaba inicial e los días de la semana

días_semana=["lu", "ma", "mi", "ju", "vi", "sa", "do"]

for i in días_semana:
  print(i)

In [ ]:
#  EJERCICIO 7: mostrar una lsta de distintos tipos de datos usando for

lista=("uno", 1.2, 3,45, "amarillo los plátanos")

for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: ingresar su nombre y mostrarlo letra por letra, utilizando for

nombre= input("digite su nombre: ")

for letra in nombre:
  print (letra)

In [ ]:
# EJERCICIO 9 : ingresar nombre y mostralo letra a letra usando for, cambiando por asteriscoa  ala vocal e

nombre= input("digite su nombre: ")

for i in nombre:
  if i=='e':
    print('*')
  else:
    print(i)

In [ ]:
#EJERCICICIO 10: ingresar nombre y mostrarlo letra x letra en mayúcula, usando for  

nombre= input("digite su nombre: ")

for i in nombre:
  print(i.upper())

In [ ]:
# EJERCICIO 11: ingresar imprimir listas de datos usando for y range

print("muestra los números de 0 al 9")
for i in range (10):
  print(i)

print("muestra los números de 1 al 10")
for i in range (1,11):
  print(i)

print("10 veces la frase")
for i in range (10):
  print("sistemas el mejor")

print(" 10 veces la frase i = ")
for i in range (10):
  print("i= " + str(i))
  
print(" 10 veces la frase i = ")
for i in range (10):
  print(f"i= {i} ")

print("rango del 7 al 18, incrementando de 4 en 4")

for i in range (7,19,4):
  print(i)

print("convierte rango en lista a,  y la muestra")
a= list (range(1000))
print(a)

# EJERCICIOS 
1. dada la siguinte lista de números [20, 21,30,41,50,51, 201] mostrar en pantalla solo los que NO terminan en 1.
2. Mostrar 100 vece la palabra "programación.
3. Del conjunto de cadenas ["E", "F", "M", "A"] que corresponden a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses.
4. Leer un texto y determinar cuántas veces dicho texto contiene cada una de las vocales en minuscula y/o mayúscula

In [ ]:
# EJERCICIO 1

for i in [20, 21,30,41,50,51, 201]:

  if (i%2)==0:
    print(i)

In [ ]:
#EJERCICIO 2

for i in range(1000):
  print("programación")

In [ ]:
#EJERCICIO 3

lista=("E", "F", "M", "A")

for i in lista:
  if i=='E':
    print("ENERO")
  if i=='F':
    print("FEBRERO")
  if i=='M':
    print("MARZO")
  if i=='A':
    print("ABRIL")

In [ ]:
#EJERCICIO 4
texto = input("Ingresa un texto: ")
vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

for letra in texto:
    if letra in vocales:
        vocales[letra] += 1

print("Vocales en el texto:")
for vocal, cantidad in vocales.items():
    print(f"{vocal}: {cantidad}")